
extends layout

	
block content
	script(src='//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js')	
	script(src='/javascripts/twitter.js')

	// By advice from http://stackoverflow.com/questions/8437295/jade-template-how-to-pass-concrete-object-to-pages
	// Copy invoice from input given from nodejs server
	script
		var globalStaticInvoice = !{JSON.stringify(locale.invoice)}

	script(src='/javascripts/index_controller.js')

	.container-fluid
		#menu
			a.twitter-share-button(href='https://twitter.com/share', data-url='http://invoise.com', data-text='Create a beautiful invoice online.', data-size='large') Tweet

		h1 
			img#heart(src="/images/heart.png")
			| INVOISE
		div#tagline
			//p !{JSON.stringify(locale.tagLine)}
			p #{locale.tagLine}

		div#download
			p 
				a#download(href="") #{locale.download}
				img#download(src="/images/download.png")
				
		div.clear


						
		//.invoice.invoice-padded
		include invoice/invoice

		#country-list
			each country in countries
				each countryName, countryCode in country
					a(href='/#{countryCode}') #{countryName}
					<br/>

